.header-menu,
.about-section,
.adopt-container,
.help-section,
.family-container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.header-menu .navbar {
    min-height: 100px;
    padding: 0;
    flex: 1;
}
.navbar-nav {
    flex: 1;
    align-items: center;
    justify-content: flex-end;
}
.nav-item {
    padding-right: 48px;
}

.nav-item:last-child {
    padding-right: 0px !important;
}

.nav-item:hover {
    color: #D36B13;
}

.button-donate:hover {
    background-color: #D36B13;
    text-decoration: none;
    color: white;
}    

.position-relative .button-donate {
    color: white;
}

.position-relative {
    position: relative;
}

.family-container {
    margin-top: 150px;
}

.pet-card {
    background-color: white;
    max-width: 282px;
    min-width: 282px;
    min-height: 412px;
}

.pet-card:first-child {
    margin-left: 0;
}
.pet-image {
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 282px;
    width: 282px;
}
.pet-text-container {
    padding: 0 18px;
}

.division-description {
    padding: 0 12px;
}
.pet-name {
    color: #ef7f19;
    font-size: 24px;
    font-weight: 500;
    padding-top: 12px;
}

.pet-description {
    font-size: 16px;
}

@media (max-width: 768px) {
    .about-section,
    .adopt-container,
    .subtitle-help,
    .purple-card,
    .family-text-container,
    .contact-wrap {
        margin: 0 20px;
        max-width: 100%;
    }

    .logo-header {
        margin-left: 20px;
    }

    .logo-header img {
        max-width: 100px;
    }

    .text-banner {
        font-size: 20px;
        padding-top: 24px;
        line-height: 30px;
    }

    .carousel-caption {
        bottom: 60px;
    }

    .banner {
        max-height: 100% !important;
        height: 565px !important;
        width: auto !important;
    }

    .subtitle-text {
        font-size: 21px;
        line-height: 32px;
        max-width: 100%;
        padding: 0;
        margin-bottom: 24px;
    }

    .help-section {
        padding-top: 60px;
    }

    .adopt {
        padding-top: 60px;
        padding-bottom: 48px;
    }

    .adopt_tit{
        margin-bottom: 36px;
    }

    .about-section {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .container2help {
        margin-top: 32px;
        padding: 24px 0 24px;
    }
        
    .row {
        display: block;
    }
        
    .pet-card {
        background-color: white;
        max-width: 335px;
        min-width: 335px;
        min-height: 450px;
        margin: 24px 0 24px;
    }
    .pet-image {
        height: 335px;
        width: 335px;
    }

    .orange-card {
        margin-top: 36px;
    }
    .subtitle-help {
        font-size: 20px;
        line-height: 30px;
        padding: 0;
    }

    .orange-card {
        max-width: none;
        min-width: 300px;
        min-height: 300px;
        border-radius: 0px;
    }

    .text-orange-card {
        font-size: 16px;
        line-height: 24px;
    }

    .btn_adopt{
        margin-top: 48px;
        min-width: -webkit-fill-available;
    }

    .btn_banner {
        min-width: -webkit-fill-available;
    }

    .purple-card {
        flex-direction: column;
        align-items: center;
        justify-items: center;
        justify-self: center;
        justify-content: center;
    }
    .purple-card_title{
        margin-left: 0;
        font-size: 44px;
    }
    .text-purple-card {
        margin-left: 0;
        margin-top: 24px;
        font-size: 18px;
        padding: 0 5%;
    }

    .click-here {
        text-decoration: underline;
    }

    .image-family-section {
        max-height: 325px;           
        margin: 12px 0 96px;
    }

    .logo-footer {
        max-width: 180px;
        margin-bottom: 16px;
    }

    .siga-nos {
        margin-top: 24px;
    }
    
    .col-lg-4 {
        padding-right: 0px;
        padding-left: 0px;
    }

    .footer{
        background-color: #353535 !important;
        padding: 3% 0 3%;
    }
}