.header-menu,
.about-section,
.adopt-container,
.help-section,
.family-container,
.association-section,
.mission-container,
.partners-section {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.header-menu .navbar {
    min-height: 100px;
    padding: 0;
    flex: 1;
}
.navbar-nav {
    flex: 1;
    align-items: center;
    justify-content: flex-end;
}
.nav-item {
    padding-right: 48px;
}

.nav-item:last-child {
    padding-right: 0px !important;
}

.nav-item:hover {
    color: #D36B13;
}

.button-donate:hover {
    background-color: #D36B13;
    text-decoration: none;
    color: white;
}    

.position-relative .button-donate {
    color: white;
}

.position-relative {
    position: relative;
}

.family-container {
    margin-top: 150px;
}

.pet-card {
    background-color: white;
    max-width: 282px;
    min-width: 282px;
    min-height: 412px;
}

.pet-card:first-child {
    margin-left: 0;
}
.pet-image {
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 282px;
    width: 282px;
}
.pet-text-container {
    padding: 0 18px;
}

.division-description {
    padding: 0 12px;
}
.pet-name {
    color: #ef7f19;
    font-size: 24px;
    font-weight: 500;
    padding-top: 12px;
}

.pet-description {
    font-size: 16px;
}

.wrap-association-text {
    padding-right: 36px;
}

@media (max-width: 768px) {
    .about-section,
    .adopt-container,
    .subtitle-help,
    .purple-card,
    .family-text-container,
    .contact-wrap,
    .help_title {
        margin: 0 20px;
        max-width: 100%;
    }

    .logo-header {
        margin-left: 20px;
    }

    .logo-header img {
        max-width: 100px;
    }

    .text-banner {
        font-size: 20px;
        padding-top: 24px;
        line-height: 30px;
    }

    .carousel-caption {
        bottom: 60px;
    }

    .banner {
        max-height: 100% !important;
        height: 565px !important;
        width: auto !important;
    }

    .subtitle-text {
        font-size: 21px;
        line-height: 32px;
        max-width: 100%;
        padding: 0;
        margin-bottom: 24px;
    }

    .help-section {
        padding-top: 60px;
    }

    .adopt {
        padding-top: 60px;
        padding-bottom: 48px;
    }

    .adopt_tit{
        margin-bottom: 36px;
    }

    .about-section {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .container2help {
        margin-top: 32px;
        padding: 24px 0 24px;
    }
        
    .row {
        display: block;
    }
        
    .pet-card {
        background-color: white;
        max-width: 335px;
        min-width: 335px;
        min-height: 450px;
        margin: 24px 0 24px;
    }
    .pet-image {
        height: 335px;
        width: 335px;
    }

    .orange-card {
        margin-top: 24px;
    }
    .subtitle-help {
        font-size: 20px;
        line-height: 30px;
        padding: 0;
    }

    .orange-card {
        max-width: none;
        min-width: 300px;
        min-height: 300px;
        border-radius: 0px;
    }

    .text-orange-card {
        font-size: 16px;
        line-height: 24px;
    }

    .btn_adopt{
        margin-top: 48px;
        min-width: -webkit-fill-available;
    }

    .btn_banner {
        min-width: -webkit-fill-available;
    }

    .purple-card {
        flex-direction: column;
        text-align: center;
    }

    .purple-card_title {
        font-size: 44px;
    }

    .text-purple-card {
        margin-left: 0;
        margin-top: 36px;
        font-size: 18px;
        padding: 0 5%;
    }

    .click-here {
        text-decoration: underline;
    }

    .image-family-section {
        max-height: 325px;           
        margin: 12px 0 96px;
    }

    .logo-footer {
        max-width: 180px;
        margin-bottom: 16px;
    }

    .siga-nos {
        margin-top: 24px;
    }
    
    .col-lg-4 {
        padding-right: 0px;
        padding-left: 0px;
    }

    .footer{
        background-color: #353535 !important;
        padding: 16px 0 16px;
    }
}

/************* HELP PAGE *************/

@media (max-width: 768px) {

    .jumbo,
    .text-help-section,
    .help_tit3, 
    .text-orange-card2,
    .btn_banner2,
    .double-text-container,
    .purple-card2 {
        margin: 0 20px;
        max-width: 100%;
    }

    .jumbo {
        margin-top: 18px;
    }

    .banner-help-section {
        max-height: 420px;
        min-width: auto;
        margin-bottom: 72px;
    }

    .img-banner-help {
        display: none;
    }

    .text-help-section {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 60px;
    }

    .wrap-association-text {
        padding-right: 0;
    }

    .row-orange-card {
        flex-direction: column;
        margin: 0;
    }

    .orange-card-size2:first-child {
        margin-right: 0;
    }

    .orange-card-size2 {
        padding-right: 0px;
    }

    .purple-card2 {  
        padding: 54px 0 54px;
    }

    .orange-card {
        padding: 24px 0 32px;
    }
    
    .orange-card-size3 {
        padding-right: 0px;
    }

    .container-purple-card2 {
        padding: 24px 0 24px;
    }

    .btn_banner2 {
        min-width: -webkit-fill-available;
    }

    .double-title {
        font-size: 20px;
        line-height: 26px;
        margin: 0 0 20px;
    }

    .text-double-right {   
        margin-top: 60px;
    }

    .text-double-left {   
        margin-top: 60px;
    }
}

/************* A ASSOCIAÇÃO *************/


@media (max-width: 768px) {

    .text-association-section,
    .association-text-container,
    .text-box-estatuto,
    .partners-section,
    .row-partner-lastcard {
        margin: 0 20px;
        max-width: 100%;
    }

    .estatuto-section {
        margin: 60px 0 60px;
    }

    .bg-estatuto-gray {
        padding: 48px 0 48px;
    }

    .partners-box-text {
        text-align: left;
    }

    .row-partner-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .row-partner-lastcard  {
        flex-direction: column;
    }

    .row-partner-lastcard .partners-card:last-child {
        margin-left: 0px;
        margin-bottom: 96px;
    }

    .partners-img-card img {
        max-height: 162px;
    }
}
    
    @media only screen and (max-width: 768px){
        
        .img-web-help {
        display: none;
        }
    
        .img-mobile-help {
        display: block;
        max-height: 400px;
        width: auto;
        }
    }

/************** CONTACT PAGE *************/


@media (max-width: 768px) {

    .form-section,
    .association-section {
        margin: 0 20px;
        max-width: 100%;
    }

    .form-section {
        flex-direction: column;
    }

    .text-contact-section {
        font-size: 20px;
        line-height: 28px;
    }

    .contact-input {
        width: auto;
        min-width: -webkit-fill-available
    }

    .btn-contact{
        min-width: -webkit-fill-available
    }

    .contact-right {
        margin: 96px 20px 112px;
    }
}

    @media only screen and (max-width: 768px){
            
        .ilustra-contact-web {
        display: none;
        }

        .ilustra-contact-mobile {
        display: block;
        width: auto;
        object-fit: scale-down;
        }
    }


